html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}

a {
    margin: 5px;
}

.wrapper {
    display: flex;
    height: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 40px;
    padding-left: 40px;
}

input[type="submit"] {
    margin: 20px;
}

button:hover {
    cursor: pointer;
}

span {
    border-bottom: 1px solid red;
}

th,
td {
    padding: 7px;
}

.buttons{
    display:flex;
    flex-direction:row;
}