@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Assignment 8</h1>
    <p class="lead">Azure - Hosting service by Microsoft</p>
    <p><a href="http://msmohiti-wa2017a8.azurewebsites.net" target="_blank" class="btn btn-primary btn-lg">Web App on Azure &raquo;</a></p>
    <p><mark><b>Note: this project template uses AutoMapper static API.</b></mark></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>About this template</h2>
        <p>Fully fledge application with Sign-In process and roles with different tasks</p>
        <p>Load Data through the manager.cs and routing for the whole application</p>
        <p>Publish to Azure</p>
    </div>
    <div class="col-md-4">
        <h2>Music Industry</h2>
        <p>This App allows to add genres, artists, albums and tracks and create a relational link between them</p>
        
    </div>
</div>