@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    70 The Pond Road<br />
    Toronto, Ontario, M3J 3M6<br />
    <abbr title="Phone">P:</abbr>
    416.491.5050
</address>

<address>
    <strong>HelpDesk:</strong>   <a href="mailto:HelpDesk@int422.com">HelpDesk@int422.com</a><br />
    <strong>Sales:</strong> <a href="mailto:Sales@int422.com">Sales@int422.com</a><br />
    <strong>Client:</strong> <a href="mailto:Client@int422.com">Client@int422.com</a>
</address>