@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>this Assignment has designed to understnd the basic rules of ASP.NET. </p>
<p>this web app that round-trips data to-and-from the browser user.</p>